.container{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
    gap: 20px;
    color: black;
}

.wrapper{
    margin: auto;
    width: 90vw;
    max-width: 1600px;
}
h2{
    font-size: 25px;
    line-height: 50px;
    margin-top: -5px;
}
p{
    margin-top: -10px;
    font-size: 17px;
}
.box{
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    background-image: url("../image/Tiny-Grid-Seamless-Patterns.jpg");
    margin-top: 10px;
    }
.first{
    grid-column: 1/span 3;
    background-image: url("../image/black-grid-thumbnail.jpg");
    color: white;
}
.second{
    grid-row: 1;
    grid-column: 4/span 2;
}
.guide{
    grid-row: 2;
    grid-column: 1/span 5;
    background-color:#5e35b1;
    color: white;
    border-radius: 5px;
    padding: 10px;
}
.example{

    grid-row: 3;
    grid-column: 1 /span 2;
}
.example::before{
    content: "New!";
    background-color: #087f23;
    position: absolute;
    top: -.8rem;
    left: -.8rem;
    transform:rotate(-31deg);
    color: #fff;
    padding: .3rem .5rem;
    display: inline-block;
}   
.pattern{
    grid-row: 3;
    grid-column: 3/ span 3;
}
.resource{
    grid-row: 4;
    grid-column: 1/span 3;
}
.new{
    grid-row:4;
    grid-column: 4/span 2;
}
.ques{
    grid-row: 5;
    grid-column: 1/span 2;
}
.about{
    grid-row: 5;
    grid-column: 3;
}
.infre{
    grid-row: 5;
    grid-column: 4 /span 2;
}
.g{
    grid-row: 6;
    grid-column: 1/span 5;
}