/* configuration local fonts */
@font-face {
    font-family: "KantumruyPro-Thin";
    src: url("./../fonts/KantumruyPro-Thin.ttf");
}
@font-face {
    font-family: "KantumruyPro-Bold";
    src: url("./../fonts/KantumruyPro-Bold.ttf");
}
h1, h2{
    font-family: "KantumruyPro-Bold", Arial, Helvetica, sans-serif;
    text-align: center;
}
svg{
    width: 100px;
    color: purple;
    display: block; 
    margin: auto;
}
.services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.service-item{
    width: 250px;
    height: 250px;
    margin: 20px;
    padding: 20px;
}
.writing-mode-rl{
    writing-mode: vertical-rl;
}

.container{
    display: grid;
}